<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bootcamp Courses</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
                <h1>Courses is running</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in Courses %}
                        <tr>
                            <td>{{ Course.name }} {{ Course.desc }}</td>
                            <td>{{ Course.created_at }}</td>
                            <td><a href="/index/{{ Course.id }}/destroy">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="/index/new">Add a new course</a>
            </div>
        
    </body>
</html>